Flask==2.2.5
SQLAlchemy==1.4.50
pandas==2.2.0
numpy==1.26.4
pytest==7.4.2
Flask-SQLAlchemy==3.0.5
Flask-Marshmallow==0.14.0
Flask-CORS==4.0.0
marshmallow==3.20.1
python-dateutil==2.8.2
pytz==2023.3
setuptools>=68.0.0
